# Dependencies
node_modules/

# Production
/dist/

# Testing
/test-results/
/playwright-report/
/playwright/.cache/

# Local Dev Env
.ddev/
.vscode/

# Env Files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
